<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/style.css" th:href="@{/css/style.css}" />
    <title>Добавление информации о поставщике</title>
</head>
<body class="bg-light" style="padding-top: 4.5rem;margin-bottom: 4.5rem;">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" th:href="@{~/}" style="color: cornsilk">Админ-панель</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/products}">Товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/producers}">Производители</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/categories}">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/admin/orders}">Заказы</a>
            </li>
        </ul>
        <form class="form-inline ml-auto mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>

<main class="content-wrapper">
<div class="container">
    <div class="py-3 text-center">
        <h4>Добавление информации о поставщике</h4>
    </div>

    <form enctype="multipart/form-data" action="#" th:action="@{/admin/add_producer}" th:object="${producer}" method="post"
          class="needs-validation"
          novalidate>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="nameProducer">Название</label>
                <input th:field="*{nameProducer}" type="text" class="form-control" id="nameProducer"
                       placeholder="Название"
                       value="" required>
                <span th:errors="*{nameProducer}" th:if="${#fields.hasErrors('nameProducer')}"
                      style="color: red;"></span>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="countryProducer">Страна</label>
                <input th:field="*{countryProducer}" type="text" class="form-control" id="countryProducer"
                       placeholder="Страна"
                       value="" required>
                <span th:errors="*{countryProducer}" th:if="${#fields.hasErrors('countryProducer')}"
                      style="color: red;"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="adressProducer">Адресс</label>
                <input th:field="*{adressProducer}" type="text" class="form-control" id="adressProducer"
                       placeholder="Адресс"
                       value="" required>
                <span th:errors="*{adressProducer}" th:if="${#fields.hasErrors('adressProducer')}"
                      style="color: red;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="emailProducer">E-mail</label>
                <input th:field="*{emailProducer}" type="email" class="form-control" id="emailProducer"
                       placeholder="E-mail"
                       value="" required>
                <span th:errors="*{emailProducer}" th:if="${#fields.hasErrors('emailProducer')}"
                      style="color: red;"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="phoneProducer">Номер телефона</label>
                <input th:field="*{phoneProducer}" type="number" class="form-control" id="phoneProducer"
                       placeholder="Номер телефона"
                       value="" required>
                <span th:errors="*{phoneProducer}" th:if="${#fields.hasErrors('phoneProducer')}"
                      style="color: red;"></span>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit" value="Submit">Добавить информацию</button>


    </form>
</div>


<br/><br/><br/>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>